# Projeto Covid19

Importação dos dados das diferentes bases de dados disponibilizadas para analise.

### Bibliotecas

In [3]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

Dados individuais dos casos confirmados de COVID-19 no município do Rio de Janeiro que servem de base para o Painel Rio COVID-19

In [15]:
df_rj_individuais = pd.read_csv('data/RJ/Dados_indiv_MRJ_covid_19.csv', sep=';', engine='python', encoding='ISO-8859-1')

In [16]:
print('Tamanho do dataset: ',df_rj_individuais.shape[0], ', quantidade de atributos: ', df_rj_individuais.shape[1])
df_rj_individuais.head(10)

Tamanho do dataset:  116591 , quantidade de atributos:  11

,classificação_final,dt_notific,dt_inicio_sintomas,bairro_resid__estadia,ap_residencia_estadia,sexo,faixa_etária,evolução,dt_óbito,raça/cor,Data_atualização
0,CONFIRMADO,18/09/2020,03/09/2020,PACIENCIA,5.3,M,De 50 a 59,óbito,17/09/2020,Parda,26/10/2020
1,CONFIRMADO,06/05/2020,06/05/2020,CACHAMBI,3.2,M,De 70 a 79,óbito,07/05/2020,Ignorado,26/10/2020
2,CONFIRMADO,13/06/2020,26/04/2020,MARECHAL HERMES,3.3,M,De 60 a 69,óbito,16/05/2020,Ignorado,26/10/2020
3,CONFIRMADO,13/08/2020,29/07/2020,INHOAIBA,5.2,M,De 80 a 89,óbito,16/08/2020,Parda,26/10/2020
4,CONFIRMADO,06/05/2020,05/05/2020,TIJUCA,2.2,M,De 80 a 89,óbito,12/05/2020,Branca,26/10/2020
5,CONFIRMADO,25/04/2020,25/04/2020,JACAREPAGUA,4.0,M,De 60 a 69,óbito,25/04/2020,Ignorado,26/10/2020
6,CONFIRMADO,09/05/2020,19/04/2020,BENFICA,1.0,M,De 80 a 89,óbito,10/05/2020,Ignorado,26/10/2020
7,CONFIRMADO,27/08/2020,17/08/2020,CAVALCANTE,3.3,M,De 60 a 69,óbito,17/08/2020,Branca,26/10/2020
8,CONFIRMADO,12/05/2020,26/04/2020,SANTISSIMO,5.2,F,De 60 a 69,óbito,07/05/2020,Parda,26/10/2020
9,CONFIRMADO,18/05/2020,13/05/2020,CAMPO GRANDE,5.2,M,De 70 a 79,óbito,22/05/2020,Parda,26/10/2020

Dados individuais dos casos confirmados de COVID-19 no município do Rio de Janeiro contendo o campo "CEP".

In [17]:
df_rj_individuais_cep = pd.read_csv('data/RJ/Dados_CEP_MRJ_covid_19.csv', sep=';', engine='python', encoding='ISO-8859-1')

In [18]:
print('Tamanho do dataset: ',df_rj_individuais_cep.shape[0], ', quantidade de atributos: ', df_rj_individuais_cep.shape[1])
df_rj_individuais_cep.head(10)

Tamanho do dataset:  102494 , quantidade de atributos:  8

,dt_notific,dt_inicio_sintomas,bairro_resid__estadia,ap_residencia_estadia,evolução,dt_óbito,CEP,Data_atualização
0,18/09/2020,03/09/2020,PACIENCIA,5.3,óbito,17/09/2020,23585430,26/10/2020
1,06/05/2020,06/05/2020,CACHAMBI,3.2,óbito,07/05/2020,20771330,26/10/2020
2,13/08/2020,29/07/2020,INHOAIBA,5.2,óbito,16/08/2020,23057026,26/10/2020
3,06/05/2020,05/05/2020,TIJUCA,2.2,óbito,12/05/2020,20261120,26/10/2020
4,25/04/2020,25/04/2020,JACAREPAGUA,4.0,óbito,25/04/2020,22753211,26/10/2020
5,09/05/2020,19/04/2020,BENFICA,1.0,óbito,10/05/2020,20910250,26/10/2020
6,27/08/2020,17/08/2020,CAVALCANTE,3.3,óbito,17/08/2020,21370290,26/10/2020
7,12/05/2020,26/04/2020,SANTISSIMO,5.2,óbito,07/05/2020,23094140,26/10/2020
8,21/04/2020,21/04/2020,SANTA CRUZ,5.3,óbito,29/04/2020,23515680,26/10/2020
9,25/04/2020,18/04/2020,PACIENCIA,5.3,óbito,30/04/2020,23585130,26/10/2020

Dados do painel de casos de doença pelo coronavirus (COVID19) no estado do RJ pela Secretaria de Estado de Saúde.

In [20]:
df_rj_dados_estado = pd.read_csv('data/RJ/COVID.CSV', sep=';', engine='python', encoding='ISO-8859-1')

In [22]:
print('Tamanho do dataset: ',df_rj_dados_estado.shape[0], ', quantidade de atributos: ', df_rj_dados_estado.shape[1])
df_rj_dados_estado.head(10)

Tamanho do dataset:  304906 , quantidade de atributos:  14

,sexo,idade,municipio_res,uf,dt_sintoma,dt_coleta_dt_notif,classificacao,evolucao,dt_obito,comorbidade,dias,dt_evento,bairro,cep
0,F,46.0,NOVA IGUACU ...,RJ,2020/05/05 00:00:00.000,2020/05/05 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,175.0,2020/05/05 00:00:00.000,NaN,26000000
1,M,23.0,MACAE ...,RJ,2020/05/03 00:00:00.000,2020/05/06 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,177.0,2020/05/03 00:00:00.000,PARQUE AEROPORTO ...,NaN
2,M,23.0,MACAE ...,RJ,2020/05/01 00:00:00.000,2020/05/03 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,179.0,2020/05/01 00:00:00.000,AJUDA DE BAIXO ...,27910000
3,M,55.0,ANGRA DOS REIS ...,RJ,2020/05/23 00:00:00.000,2020/05/23 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,157.0,2020/05/23 00:00:00.000,CENTRO ...,23900000
4,F,47.0,MARICA ...,RJ,2020/08/07 00:00:00.000,2020/08/20 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,81.0,2020/08/07 00:00:00.000,GUARATIBA ...,NaN
5,M,25.0,SAO JOAO DE MERITI ...,RJ,2020/09/07 00:00:00.000,2020/09/17 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,50.0,2020/09/07 00:00:00.000,EDEN ...,25530460
6,M,57.0,DUQUE DE CAXIAS ...,RJ,2020/06/03 00:00:00.000,2020/06/04 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,146.0,2020/06/03 00:00:00.000,PARQUE VITORIA ...,25045490
7,M,33.0,MACAE ...,RJ,2020/07/03 00:00:00.000,2020/07/03 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,116.0,2020/07/03 00:00:00.000,AEROPORTO ...,27900000
8,M,50.0,ITATIAIA ...,RJ,2020/07/20 00:00:00.000,2020/07/20 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,99.0,2020/07/20 00:00:00.000,CAMPO ALEGRE ...,27580000
9,M,42.0,ANGRA DOS REIS ...,RJ,2020/07/27 00:00:00.000,2020/08/03 00:00:00.000,CONFIRMADO,NaN,NaN,NaN,92.0,2020/07/27 00:00:00.000,PARQUE MAMBUCABA (MAMBUCABA) ...,23955570

Dados do estado do Piaui (fornecidos por email)

In [37]:
planilha = pd.ExcelFile('data/PI/PIAUI_export-16-10-2020.xlsx')
df_pi_dados_estado = pd.read_excel(planilha, sheet_name=None)

In [39]:
df_pi_dados_estado.keys()

odict_keys(['Histórico', 'Municípios'])

In [41]:
print('Tamanho do dataset: ',df_pi_dados_estado['Histórico'].shape[0], ', quantidade de atributos: ', df_pi_dados_estado['Histórico'].shape[1])
df_pi_dados_estado['Histórico'].head(10)

Tamanho do dataset:  212 , quantidade de atributos:  3

         Data  Casos Novos  Casos Acumulados
0  18/03/2020            0                 0
1  19/03/2020            3                 3
2  20/03/2020            1                 4
3  21/03/2020            0                 4
4  22/03/2020            2                 6
5  23/03/2020            0                 6
6  24/03/2020            2                 8
7  25/03/2020            0                 8
8  26/03/2020            1                 9
9  27/03/2020            0                 9

In [42]:
print('Tamanho do dataset: ',df_pi_dados_estado['Histórico'].shape[0], ', quantidade de atributos: ', df_pi_dados_estado['Histórico'].shape[1])
df_pi_dados_estado['Municípios'].head(10)

Tamanho do dataset:  212 , quantidade de atributos:  3

              Município  Confirmados  Óbitos Letalidade
0                 ACAUA           42       0      0.00%
1          AGRICOLANDIA           62       0      0.00%
2           AGUA BRANCA         1011      43      4.25%
3    ALAGOINHA DO PIAUI          102       2      1.96%
4     ALEGRETE DO PIAUI          261       0      0.00%
5            ALTO LONGA          184       6      3.26%
6                 ALTOS         1631      24      1.47%
7  ALVORADA DO GURGUEIA           50       3      6.00%
8              AMARANTE          430       8      1.86%
9      ANGICAL DO PIAUI          149       3      2.01%